.gs-section-01 {
  background-color: #f9fafb;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.gs-section-02 {
  background-color: #eef2ff;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}

.gs-section-03 {
  background-color: #f1f5f9;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 8px;
}
